<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <div th:include="fragments/tmpl :: head"></div>
</head>

<body ng-app="valid" ng-controller="validRegist">

<div class="container">
    <div th:include="fragments/tmpl :: nav-bar"></div>

    <form class="form-signin" name="registForm" th:action="@{/signup}" th:object="${user}"  method="POST">
        <!-- <h2 class="form-signin-heading">Bitte Loggen Sie sich ein.</h2>-->
        <div class="form-group"
             ng-class="{ 'has-error' : registForm.registLogin.$dirty && registForm.registLogin.$invalid}">
            <label for="registLogin" class="sr-only">login</label>
            <input type="text" id="registLogin" th:field="*{name}" ng-model="regist.login" class="form-control"
                   placeholder="Login" ng-minlength="3" ng-maxlength="20" required autofocus>
            <span class="errorVis hidden" id="errorName">Die Name ist schon besetzt.</span>
            <span class="errorVis" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <span class="errorVis"
                  ng-show="registForm.registLogin.$dirty && registForm.registLogin.$invalid">

                    <span class="errorVis" ng-show="registForm.registLogin.$error.required">Das ist ein Pflichtfeld.</span>
                    <span class="errorVis" ng-show="registForm.registLogin.$error.minlength">Das Login ist zu kurz.</span>
                    <span class="errorVis" ng-show="registForm.registLogin.$error.maxlength">Das Login ist zu lang.</span>
                    <span class="errorVis" ng-show="registForm.registLogin.$error.notUniq">Die Name ist schon besetzt.</span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : registForm.registEmail.$dirty && registForm.registEmail.$invalid}">
            <label for="inputEmail_Reg" class="sr-only">Email</label>
            <input type="email" id="inputEmail_Reg" ng-model="regist.email" th:field="*{email}" class="form-control"
                   placeholder="Email" required autofocus>
            <span class="errorVis" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <span class="errorVis"
                  ng-show="registForm.registEmail.$dirty && registForm.registEmail.$invalid">
                    <span class="errorVis" ng-show="registForm.registEmail.$error.required">Das ist ein Pflichtfeld.</span>
                    <span class="errorVis" ng-show="registForm.registEmail.$invalid">Das Email ist invalid.</span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : registForm.registPassword.$dirty && registForm.registPassword.$invalid}">
            <label for="inputPassword_Reg_re" class="sr-only" ng-minlength="3" ng-maxlength="50">Kennword</label>
            <input type="password" id="registPassword" class="form-control" ng-model="regist.password"
                   name="registPassword" placeholder="Kennword" th:field="*{password}" required>
            <span class="errorVis" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <span class="errorVis"
                  ng-show="registForm.registPassword.$dirty && registForm.registPassword.$invalid">

                    <span class="errorVis" ng-show="registForm.registPassword.$error.required">Das ist ein Pflichtfeld.</span>
                    <span class="errorVis" ng-show="registForm.registPassword.$error.minlength">Das Kennwort ist zu kurz.</span>
                    <span class="errorVis" ng-show="registForm.registPassword.$error.maxlength">Das Kennwort ist zu lang.</span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : registForm.registPasswordAgain.$dirty && registForm.registPasswordAgain.$invalid}">
            <label for="inputPassword_Reg_re" class="sr-only">Kennword wiederholen</label>
            <input type="password" id="inputPassword_Reg_re" class="form-control" name="registPasswordAgain"
                   ng-model="regist.passwordAgain" ng-minlength="3" ng-maxlength="50" th:field="*{confirmPassword}" class="form-control"
                   placeholder="Kennword wieder" pw-check="registPassword" required>
            <span class="errorVis" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <span class="errorVis"
                  ng-show="registForm.registPasswordAgain.$dirty && registForm.registPasswordAgain.$invalid">

                    <span class="errorVis" ng-show="registForm.registPasswordAgain.$error.required">Das ist ein Pflichtfeld.</span>
                    <span class="errorVis" ng-show="registForm.registPasswordAgain.$error.minlength">Das Kennwort ist zu kurz.</span>
                    <span class="errorVis" ng-show="registForm.registPasswordAgain.$error.maxlength">Das Kennwort ist zu lang.</span>
                    <span class="errorVis" ng-show='registForm.registPasswordAgain.$error.pwmatch'>Die Kennwörter sind nicht gleich.</span>
            </span>
        </div>
        <!--/* <p class="errorHid" id="error_regist">* Füllen Sie alle Felder richtig aus.</p> */-->
        <input type="submit" id="reg_but" class="btn btn-lg btn-block btn-primary" ng-disabled="registForm.$invalid"
               value="Registrieren">
    </form>
    <div class="empty"></div>
    <footer th:include="fragments/tmpl :: footer"></footer>
    <div th:include="fragments/tmpl :: js"></div>
    <script type="text/javascript" src="js/usersValid.js"></script>
</div> <!-- /container -->

</body>
</html>
