<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <div th:include="fragments/tmpl :: head"></div>
</head>

<body>

<div class="container">
    <div th:include="fragments/tmpl :: nav-bar"></div>
    <form class="form-signin" method="POST" th:action="@{/signin}">
        <div th:if="successMessage">
            <h1 th:utext="${successMessage}"></h1>
        </div>
        <h2 class="form-signin-heading">Bitte Loggen Sie sich ein.</h2>
        <div class="form-group">
            <label for="inputEmail_Log" class="sr-only">Email Addresse</label>
            <input type="text" id="inputEmail_Log" class="form-control" name="email" placeholder="Email addresse" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword_Log" class="sr-only">Kennword</label>
            <input type="password" id="inputPassword_Log" class="form-control" name="password" placeholder="Kennword" required>
        </div>
        <div class="checkbox">
            <!--<label>
              <input type="checkbox" value="remember-me"> Merken
            </label>-->
        </div>
        <div align="center" th:if="${param.error}">
            <p style="color: #cd0a0a">Email oder Kennwort sind falsch</p>
        </div>
        <input type="button" id="login_but" class="btn btn-lg btn-primary btn-block" th:type="submit" value="Sign in">
    </form>
    <br><br><br><br><br><br><br><br><br><br>
    <footer th:include="fragments/tmpl :: footer"></footer>
    <div th:include="fragments/tmpl :: js"></div>
</div> <!-- /container -->


</body>
</html>