<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/carousel.css">

    <link rel="stylesheet" type="text/css" href="css/signin.css">
</head>

<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Metra Nutrition</a>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ernährung <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/products">Nährwertzähler</a></li>
                            <li><a href="/my_ration">Mein Ration</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="resp_hid"><a href="/myrat" class="resp_vis" id=userName></a></li>
                    <li class="resp_hid"><a class="hidden"><input type="button" class="btn btn-success btn-xs" style="margin-top:-4px;" id="loginExit" value="Abmelden"></a></li>
                    <li><a href="/signup"><!--<span class="glyphicon glyphicon-user">--></span> Registration</a></li>
                    <li><a href="/signin"><!--<span class="glyphicon glyphicon-log-in">--></span> Einloggen</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <form class="form-signin" method="POST" th:action="@{/signin}">
        <h2 class="form-signin-heading">Bitte Loggen Sie sich ein.</h2>
        <div class="form-group">
            <label for="inputEmail_Log" class="sr-only">Email Addresse</label>
            <input type="text" id="inputEmail_Log" class="form-control" name="email" placeholder="Email addresse" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword_Log" class="sr-only">Kennword</label>
            <input type="password" id="inputPassword_Log" class="form-control" name="password" placeholder="Kennword" required>
        </div>
        <div class="checkbox">
            <!--<label>
              <input type="checkbox" value="remember-me"> Merken
            </label>-->
        </div>
        <div align="center" th:if="${param.error}">
            <p style="color: #cd0a0a">Email oder Kennwort sind falsch</p>
        </div>
        <input type="button" id="login_but" class="btn btn-lg btn-primary btn-block" th:type="submit" value="Sign in">
    </form>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!--<script type="text/javascript" src="js/jquery-ui.min.js"></script>-->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>

    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Metra GmbH &middot; <a href="/">Home</a> &middot; <a href="/contact">Kontakt</a></p>
    </footer>
</div> <!-- /container -->


</body>
</html>